.dashboard-card {
  border-top: transparent !important;
}

.card-header-tabs {
  margin-right: -0.05rem !important;
  margin-bottom: 0.25rem !important;
  margin-left: -0.05rem !important;
  font-weight: 500 !important;
}

.nav-tabs {
  border-bottom: 2px solid #dee2e6 !important;
}

.nav-tabs .nav-link {
  color: #dc3545 !important;
  background-color: #fff !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
}


.nav-tabs .nav-link.active {
  background-color: #dc3545 !important;
  color: white !important;
  border-color: transparent !important;
}

.nav-tabs .nav-link:hover {
  border-bottom-color: #dc3545 !important;
}

.nav-link {
  width: 50% !important;
}

.tab-content {
  margin-top: 15px;
}